@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*---------------------------Heading*/

header {
    margin: 0;
    height: 60px;
    background-color:rgb(36, 39, 43);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 150%;
    font-family: 'Oswald';
    font-weight: 600;
}

.nav {
    width: 100%;
    text-transform: uppercase;
    color: #119822;
    margin-bottom: 25px;
}

/*---------------------------Hover*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(72, 79, 87, 0.778);
}

.hvr-sweep-to-bottom:hover {
    color: #fafafa;
}

/*---------------------------Body*/

body {
    background-color: #2D3A3A;
    font-family: 'Abyssinica SIL';
}

h2, h3 {
    font-family: 'Oswald';
    letter-spacing: 1px;
}

p {
    font-family: 'Abyssinica SIL';
}

#hero {
    height: 600px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#cover-text {
    height: 350px;
    width: 350px;
    position: absolute;
    color: #fafafa;
    background-color: rgba(72, 79, 87, 0.9);
    font-size: 100%;
    right: 35%;
    bottom: 25%;
    padding: 10px;
    text-align: left;
}

#hero-image  {
    height: 600px;
    width: 80%;
    margin: auto;
}

#hero-image img {
    width: 100%;
    height: 100%;
    
}

.row {
    margin: 0;
}


/*---------------------------Transform*/

.uppercase {
    text-transform: uppercase;
}

/*---------------------------Slideshow*/

.genre {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #fafafa;
    background-color: rgb(51, 56, 62);
    border-color: rgb(36, 39, 43) ;
    border-style: groove;
}

.slideshow {
    width: 100%;
    height: 250px;
    margin-top: 25px;
    border-color: rgb(36, 39, 43);
    border-style: double;

}

.carousel-item img {
    width: 100%;
    height: 245px;
    
}

/*---------------------------Meet the team*/

.person {
    margin-left: 50px;
    margin-top: 20px;
    height: 350px;
    width: 300px;
    
}

.person img {
    width: 90%;
    height: 300px;
    border-color: rgb(36, 39, 43);
    border-style: double;
}

.description {
    margin-left: 50px;
    margin-top: 50px;
    height: 300px;
    width: 300px;
    background-color: #3B413C;
    color: #fafafa;
    padding: 10px;
    text-align: start;
}

.set-up {
    margin-left: 50px;
    margin-top: 40px;
    height: 300px;
    width: 90%;
}

.style {
    margin-left: 5%;
    margin-top: 25px;
    padding: 20px;
    width: 90%;
    height: auto;
    border-style: groove;
    border-color: rgb(36, 39, 43);
    background-color: #FCFFFC;
}


/*---------------------------Form*/

.enquiries-form {
    height: 550px;
    width: 50%;
    color: #fafafa;
    background-color: rgba(72, 79, 87, 0.9);
    font-size: 100%;
    left: 33%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Abyssinica SIL';
}

.enquiries-form h2, p {
    text-align: center;
    font-family: 'Abyssinica SIL';
}

.enquiries-form label {
    border-color: rgba(36, 39, 43, 0.6) ;
    border-style: groove;
    padding: 5px;
}

.enquiries-form input {
    border-color: rgb(36, 39, 43) ;
    border-style: groove;
    padding: 5px;
}

button[type="submit"]{
    background-color: rgb(72, 79, 87);
    border-color: #119822;
    margin-left: 25px;
    font-family: 'Abyssinica SIL';
}

button[type="submit"]:hover {
    background-color: rgb(51, 56, 62);
    border-color: #116622;
}

.contact {
    margin: auto;
    width: 60%;
    color: #fafafa;
    text-align: center;
}

/*---------------------------Footer*/

footer {
    background-color: rgb(36, 39, 43);
    min-height: 120px;
    margin-top: 25px;
    font-family: 'Abyssinica SIL';
}

.back-to-top {
    margin-top: 50px;
}

button[type="button"]{
    background-color: rgb(72, 79, 87);
    border-color: #119822;
    margin-left: 25px;
    font-family: 'Abyssinica SIL';
}

button[type="button"]:hover {
    background-color: rgb(51, 56, 62);
}

.socials:before {
    color: #fafafa;
}

.social-links {
    float: right;
    color: #119822;
    margin-right: 50px;
    font-family: 'Abyssinica SIL';
}

.social-links a i {
    color: #119822;
    margin-right: 10px;
}

/*---------------------------Screen resize*/

@media screen and (max-width:1200px) {
    #cover-text {
        width: 65%;
        height: auto;
        margin-left: 25px;
        left: 15%;
    }

    .style .col {
        width: 33%;
    }

    .slideshow {
        width: 70%;
        height: 250px;
        margin-top: 25px;
        margin: auto;
    }

    .person {
        margin: 0 0 0 10px;     
        width: 60%;
        height: 350px;
    }

    .person img {
        width: 100%;
        margin: 0;
        height: 300px;
        margin-bottom: 10px;
    }

    .description {
        width: 70%;
        height: auto;
        margin: 0;
        font-size: small;
        margin-bottom: 10px;
        
    }

    .description p {
        margin: 0;
        text-align: left;
        line-height: 140%;
    }

    .slideshow {
        margin-top: 15px;
    }

    .slideshow .center {
        width: 100%;
        margin: 0;
        height: 300px;
    }

    .set-up {
        margin: 0;
        width: 80%;
        height: 300px;
    }

    .enquiries-form {
        height: auto;
        width: 50%;
    }


    .back-to-top {
        float: left;
        margin-top: 5%;
    }

    .back-to-top a {
        margin: 0;
    }

    .social-links {
        float: right;
        width: 50%;
        margin: 0;
        
    }

    footer {
        padding: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 943px) {
    header {
        height: 80px;
    }

    .nav {
        font-size: large;
    }
    #cover-text {
        width: 65%;
        height: auto;
        margin-left: 25px;
        left: 15%;
        bottom: 15%;
    }

    .person {
        margin: 0 0 0 10px;     
        width: 100%;
        height: 350px;
    }

    .person h4 {
        margin-top: 10px;
    }

    .description {
        font-size: medium;
        width: 100%;
    }

    .slideshow {
        width: 100%;
        height: 250px;
        margin-top: 25px;
        margin: auto;
    }

    section .row .col {
        min-width: 100%;
    }

    .enquiries-form {
        width: auto;
        left: 0%;
        margin-left: 20px;
        margin-top: 20px;
    }

    .contact {
        margin-top: 10px;
    }

    button[type="submit"]{
        margin: 0;
    }

    button[type="button"]{
        margin: 0;
    }    
}