@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*---------------------------heading*/

header {
    margin: 0;
    height: 60px;
    background-color:rgb(36, 39, 43);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /*margin-bottom: 25px;*/
}

.nav {
    width: 33%;
    text-transform: uppercase;
    color: #119822;
    margin-bottom: 25px;
}

/*---------------------------hover*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(72, 79, 87, 0.778);
}

.hvr-sweep-to-bottom:hover {
    color: #fafafa;
}

/*---------------------------body*/

#hero {
    height: 600px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#cover-text {
    height: 300px;
    width: 400px;
    position: absolute;
    color: #fafafa;
    background-color: rgba(72, 79, 87, 0.778);
    font-size: 100%;
    right: 40%;
    bottom: 40%;
    padding: 10px;
    text-align: center;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(/assets/images/pexels-resizee.jpg) center center;
}

/*---------------------------transform*/

.uppercase {
    text-transform: uppercase;
}


/*---------------------------footer*/

footer {
    background-color: rgb(36, 39, 43);
    min-height: 120px;
    margin: 0;
}

.back-to-top {
    margin-top: 50px;
}

button[type="button"]{
    background-color: rgb(72, 79, 87);
    border-color: #119822;
    margin-left: 25px;
}

button[type="button"]:hover {
    background-color: rgb(51, 56, 62);
}

.socials:before {
    color: #fafafa;
}

.social-links {
    float: right;
    color: #119822;
    margin-right: 50px;
}

.social-links a i {
    color: #119822;
    margin-right: 10px;
}